<div class="title-bar">
  <h1 class="center-title">CalmaMente</h1>
</div>
<div class="sidebar open">
  <div class="sidebar-user" *ngIf="isLoggedIn && userName">
    <span class="profile-icon">👤</span>
    <span class="sidebar-user-name">{{ userName }}</span>
  </div>
  <ul>
    <li><a routerLink="/home">Início</a></li>
    <li><a routerLink="/diario">Diário</a></li>
    <li>
      <a routerLink="/conteudo-educacional">Conteúdo Educacional</a>
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a
      *ngIf="isLoggedIn"
      routerLink="/cadastro"
      (click)="preencherCadastroComUsuarioLogado()"
      class="profile-link"
    >
      <span class="profile-icon">👤</span> Meu Perfil
    </a>
    <button *ngIf="isLoggedIn" class="logout-button" (click)="logout()">
      Sair
    </button>
  </div>
</div>
<main class="sidebar-opened">
  <ng-content></ng-content>
</main>
